i.icon-showbuilder { background-image: url('../img/icon-dj-schedule-32.png'); }
i.icon-schedule { background-image: url('../img/icon-schedule-32.png'); }
i.icon-musiclibrary { background-image: url('../img/icon-music-management-32.png'); }
i.icon-events { background-image: url('../img/icon-events-32.png'); }

/** Album Elements **/

img.album-art {
	width: 25px;
	height: 25px;
}

/* Set margin to 0 for form controls inside tables */
.form-horizontal table .control-group,
.form-horizontal table .controls {
	margin: 0;
}

th a {
	color: inherit;
}

th .caret {
	margin-top: 0.6em;
}

th.ascending .caret {
	border-top: 0;
	border-bottom: 4px solid black;
	content: "\2191";
}

th a:hover + .caret {
	opacity: 1;
	filter: alpha(opacity=100);
}

.fc-widget-content { cursor: pointer; }

.fc-event.fc-alert .fc-event-skin, .fc-event.fc-alert.fc-event-skin {
	background-color: darkred; border-color: darkred; color: white
}
.fc-event.fc-announcement .fc-event-skin, .fc-event.fc-announcement.fc-event-skin {
	background-color: green; border-color: green; color: white
}
.fc-event.fc-eastest .fc-event-skin, .fc-event.fc-eastest.fc-event-skin {
	background-color: #754C24; border-color: #754C24; color: white
}
.fc-event.fc-feature .fc-event-skin, .fc-event.fc-feature.fc-event-skin {
	background-color: royalblue; border-color: royalblue; color: white
}
.fc-event.fc-legalid .fc-event-skin, .fc-event.fc-legalid.fc-event-skin {
	background-color: indigo; border-color: indigo; color: white
}
.fc-event.fc-psa .fc-event-skin, .fc-event.fc-psa.fc-event-skin {
	background-color: darkorange; border-color: darkorange; color: white
}
.fc-event.fc-show .fc-event-skin, .fc-event.fc-show.fc-event-skin {
	background-color: #007084; border-color: #007084; color: white;
}
.fc-event.fc-ticketgiveaway .fc-event-skin, .fc-event.fc-ticketgiveaway.fc-event-skin {
	background-color: darkgoldenrod; border-color: darkgoldenrod; color: white
}
.fc-event.fc-underwriting .fc-event-skin, .fc-event.fc-underwriting.fc-event-skin {
	background-color: slategray; border-color: slategray; color: white
}
